<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.one.energy.mapper.TCollectConfigMapper">

    <resultMap id="BaseResultMap" type="org.one.energy.entity.TCollectConfig">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="processCode" column="process_code" jdbcType="VARCHAR"/>
            <result property="processName" column="process_name" jdbcType="VARCHAR"/>
            <result property="processUnitCode" column="process_unit_code" jdbcType="VARCHAR"/>
            <result property="equipmentCode" column="equipment_code" jdbcType="VARCHAR"/>
            <result property="equipmentUnitCode" column="equipment_unit_code" jdbcType="VARCHAR"/>
            <result property="energyClassCode" column="energy_class_code" jdbcType="VARCHAR"/>
            <result property="energyTypeCode" column="energy_type_code" jdbcType="VARCHAR"/>
            <result property="dataVarieties" column="data_varieties" jdbcType="VARCHAR"/>
            <result property="dataUsageCode" column="data_usage_code" jdbcType="VARCHAR"/>
            <result property="inputType" column="input_type" jdbcType="VARCHAR"/>
            <result property="dataValueMin" column="data_value_min" jdbcType="DECIMAL"/>
            <result property="dataValueMax" column="data_value_max" jdbcType="DECIMAL"/>
            <result property="statType" column="stat_type" jdbcType="VARCHAR"/>
            <result property="collectSystemName" column="collect_system_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="scope" column="scope" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        process_code,process_name,process_unit_code,
        equipment_code,equipment_unit_code,energy_class_code,
        energy_type_code,data_varieties,data_usage_code,
        input_type,data_value_min,data_value_max,
        stat_type,collect_system_name,create_time,
        modify_time,unit,scope,
        remark
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_collect_config
        where  id = #{id,jdbcType=VARCHAR} 
    </select>

    <select id="findByPage" resultType="org.one.energy.entity.TCollectConfig">
        select
        tc.*,tp.id processId
        from t_collect_config tc
        left join t_proc tp on tc.process_name=tp.name
        where 1=1
            <if test="statType  != null and statType != ''">
                AND stat_type  = #{statType}
            </if>
            <if test="processName != null and processName != ''">
                AND tc.process_name = #{processName}
            </if>
            <if test="scope != null and  scope != ''">
                AND tc.scope = #{scope}
            </if>
            <if test="energyClassCode != null and energyClassCode != ''">
                AND tc.energy_class_code = #{energyClassCode}
            </if>
            order by tc.create_time desc
        limit ${(page-1)*limit},#{limit}
    </select>

    <select id="findCount" resultType="int">
        select
        COUNT(1)
        from t_collect_config tc
        left join t_proc tp on tc.process_name=tp.name
        <where>
            <if test="statType  != null and statType != ''">
                AND stat_type  = #{statType}
            </if>
            <if test="processName != null and processName != ''">
                AND tc.process_name = #{processCode}
            </if>
            <if test="scope != null and  scope != ''">
                AND tc.scope = #{scope}
            </if>
            <if test="energyClassCode != null and energyClassCode != ''">
                AND tc.energy_class_code = #{energyClassCode}
            </if>
        </where>
    </select>
    <select id="searchByIkey" resultMap="BaseResultMap">
        SELECT tcc.* FROM t_collect_irtu tci LEFT JOIN t_collect_config tcc ON tci.item_id = tcc.id
        where tci.ikey = #{ikey}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_collect_config
        where  id = #{id,jdbcType=VARCHAR} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.one.energy.entity.TCollectConfig" useGeneratedKeys="true">
        insert into t_collect_config
        ( id,name,code
        ,process_code,process_name,process_unit_code
        ,equipment_code,equipment_unit_code,energy_class_code
        ,energy_type_code,data_varieties,data_usage_code
        ,input_type,data_value_min,data_value_max
        ,stat_type,collect_system_name,create_time
        ,modify_time,unit,scope
        ,remark)
        values (#{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR}
        ,#{processCode,jdbcType=VARCHAR},#{processName,jdbcType=VARCHAR},#{processUnitCode,jdbcType=VARCHAR}
        ,#{equipmentCode,jdbcType=VARCHAR},#{equipmentUnitCode,jdbcType=VARCHAR},#{energyClassCode,jdbcType=VARCHAR}
        ,#{energyTypeCode,jdbcType=VARCHAR},#{dataVarieties,jdbcType=VARCHAR},#{dataUsageCode,jdbcType=VARCHAR}
        ,#{inputType,jdbcType=VARCHAR},#{dataValueMin,jdbcType=DECIMAL},#{dataValueMax,jdbcType=DECIMAL}
        ,#{statType,jdbcType=VARCHAR},#{collectSystemName,jdbcType=VARCHAR},now()
        ,#{modifyTime,jdbcType=TIMESTAMP},#{unit,jdbcType=VARCHAR},#{scope,jdbcType=VARCHAR}
        ,#{remark,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.one.energy.entity.TCollectConfig">
        insert into t_collect_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="name != null">name,</if>
                <if test="code != null">code,</if>
                <if test="processCode != null">process_code,</if>
                <if test="processName != null">process_name,</if>
                <if test="processUnitCode != null">process_unit_code,</if>
                <if test="equipmentCode != null">equipment_code,</if>
                <if test="equipmentUnitCode != null">equipment_unit_code,</if>
                <if test="energyClassCode != null">energy_class_code,</if>
                <if test="energyTypeCode != null">energy_type_code,</if>
                <if test="dataVarieties != null">data_varieties,</if>
                <if test="dataUsageCode != null">data_usage_code,</if>
                <if test="inputType != null">input_type,</if>
                <if test="dataValueMin != null">data_value_min,</if>
                <if test="dataValueMax != null">data_value_max,</if>
                <if test="statType != null">stat_type,</if>
                <if test="collectSystemName != null">collect_system_name,</if>
                <if test="createTime != null">create_time,</if>
                <if test="modifyTime != null">modify_time,</if>
                <if test="unit != null">unit,</if>
                <if test="scope != null">scope,</if>
                <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="code != null">#{code,jdbcType=VARCHAR},</if>
                <if test="processCode != null">#{processCode,jdbcType=VARCHAR},</if>
                <if test="processName != null">#{processName,jdbcType=VARCHAR},</if>
                <if test="processUnitCode != null">#{processUnitCode,jdbcType=VARCHAR},</if>
                <if test="equipmentCode != null">#{equipmentCode,jdbcType=VARCHAR},</if>
                <if test="equipmentUnitCode != null">#{equipmentUnitCode,jdbcType=VARCHAR},</if>
                <if test="energyClassCode != null">#{energyClassCode,jdbcType=VARCHAR},</if>
                <if test="energyTypeCode != null">#{energyTypeCode,jdbcType=VARCHAR},</if>
                <if test="dataVarieties != null">#{dataVarieties,jdbcType=VARCHAR},</if>
                <if test="dataUsageCode != null">#{dataUsageCode,jdbcType=VARCHAR},</if>
                <if test="inputType != null">#{inputType,jdbcType=VARCHAR},</if>
                <if test="dataValueMin != null">#{dataValueMin,jdbcType=DECIMAL},</if>
                <if test="dataValueMax != null">#{dataValueMax,jdbcType=DECIMAL},</if>
                <if test="statType != null">#{statType,jdbcType=VARCHAR},</if>
                <if test="collectSystemName != null">#{collectSystemName,jdbcType=VARCHAR},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null">#{modifyTime,jdbcType=TIMESTAMP},</if>
                <if test="unit != null">#{unit,jdbcType=VARCHAR},</if>
                <if test="scope != null">#{scope,jdbcType=VARCHAR},</if>
                <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.one.energy.entity.TCollectConfig">
        update t_collect_config
        <set>
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="code != null">
                    code = #{code,jdbcType=VARCHAR},
                </if>
                <if test="processCode != null">
                    process_code = #{processCode,jdbcType=VARCHAR},
                </if>
                <if test="processName != null">
                    process_name = #{processName,jdbcType=VARCHAR},
                </if>
                <if test="processUnitCode != null">
                    process_unit_code = #{processUnitCode,jdbcType=VARCHAR},
                </if>
                <if test="equipmentCode != null">
                    equipment_code = #{equipmentCode,jdbcType=VARCHAR},
                </if>
                <if test="equipmentUnitCode != null">
                    equipment_unit_code = #{equipmentUnitCode,jdbcType=VARCHAR},
                </if>
                <if test="energyClassCode != null">
                    energy_class_code = #{energyClassCode,jdbcType=VARCHAR},
                </if>
                <if test="energyTypeCode != null">
                    energy_type_code = #{energyTypeCode,jdbcType=VARCHAR},
                </if>
                <if test="dataVarieties != null">
                    data_varieties = #{dataVarieties,jdbcType=VARCHAR},
                </if>
                <if test="dataUsageCode != null">
                    data_usage_code = #{dataUsageCode,jdbcType=VARCHAR},
                </if>
                <if test="inputType != null">
                    input_type = #{inputType,jdbcType=VARCHAR},
                </if>
                <if test="dataValueMin != null">
                    data_value_min = #{dataValueMin,jdbcType=DECIMAL},
                </if>
                <if test="dataValueMax != null">
                    data_value_max = #{dataValueMax,jdbcType=DECIMAL},
                </if>
                <if test="statType != null">
                    stat_type = #{statType,jdbcType=VARCHAR},
                </if>
                <if test="collectSystemName != null">
                    collect_system_name = #{collectSystemName,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="modifyTime != null">
                    modify_time = #{modifyTime,jdbcType=TIMESTAMP},
                </if>
                <if test="unit != null">
                    unit = #{unit,jdbcType=VARCHAR},
                </if>
                <if test="scope != null">
                    scope = #{scope,jdbcType=VARCHAR},
                </if>
                <if test="remark != null">
                    remark = #{remark,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=VARCHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="org.one.energy.entity.TCollectConfig">
        update t_collect_config
        set 
            name =  #{name,jdbcType=VARCHAR},
            code =  #{code,jdbcType=VARCHAR},
            process_code =  #{processCode,jdbcType=VARCHAR},
            process_name =  #{processName,jdbcType=VARCHAR},
            process_unit_code =  #{processUnitCode,jdbcType=VARCHAR},
            equipment_code =  #{equipmentCode,jdbcType=VARCHAR},
            equipment_unit_code =  #{equipmentUnitCode,jdbcType=VARCHAR},
            energy_class_code =  #{energyClassCode,jdbcType=VARCHAR},
            energy_type_code =  #{energyTypeCode,jdbcType=VARCHAR},
            data_varieties =  #{dataVarieties,jdbcType=VARCHAR},
            data_usage_code =  #{dataUsageCode,jdbcType=VARCHAR},
            input_type =  #{inputType,jdbcType=VARCHAR},
            data_value_min =  #{dataValueMin,jdbcType=DECIMAL},
            data_value_max =  #{dataValueMax,jdbcType=DECIMAL},
            stat_type =  #{statType,jdbcType=VARCHAR},
            collect_system_name =  #{collectSystemName,jdbcType=VARCHAR},
            create_time =  #{createTime,jdbcType=TIMESTAMP},
            modify_time =  #{modifyTime,jdbcType=TIMESTAMP},
            unit =  #{unit,jdbcType=VARCHAR},
            scope =  #{scope,jdbcType=VARCHAR},
            remark =  #{remark,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=VARCHAR} 
    </update>

    <select id="findAll" resultType="org.one.energy.entity.TCollectConfig">
        select * from t_collect_config
    </select>
</mapper>
