<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.one.energy.mapper.TRegisterResponseMapper" >
  <resultMap id="BaseResultMap" type="org.one.energy.entity.TRegisterResponse" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="response_code" property="responseCode" jdbcType="VARCHAR" />
    <result column="response_message" property="responseMessage" jdbcType="VARCHAR" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="load_config_URL" property="loadConfigUrl" jdbcType="VARCHAR" />
    <result column="load_dic_version_URL" property="loadDicVersionUrl" jdbcType="VARCHAR" />
    <result column="center_info_URL" property="centerInfoUrl" jdbcType="VARCHAR" />
    <result column="center_data_URL" property="centerDataUrl" jdbcType="VARCHAR" />
    <result column="center_info_download_URL" property="centerInfoDownloadUrl" jdbcType="VARCHAR" />
    <result column="center_data_download_URL" property="centerDataDownloadUrl" jdbcType="VARCHAR" />
    <result column="upload_time" property="uploadTime" jdbcType="VARCHAR" />
    <result column="oper_time" property="operTime" jdbcType="TIMESTAMP" />
    <result column="oper_user_name" property="operUserName" jdbcType="VARCHAR" />
    <result column="oper_type" property="operType" jdbcType="VARCHAR" />
    <result column="center_metering_data_URL" property="centerMeteringDataUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, response_code, response_message, device_id, load_config_URL, load_dic_version_URL, 
    center_info_URL, center_data_URL, center_info_download_URL, center_data_download_URL, 
    upload_time, oper_time, oper_user_name, oper_type, center_metering_data_URL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_register_response
    where oper_time = (SELECT max(oper_time) from t_register_response)
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_register_response
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="org.one.energy.entity.TRegisterResponse" >
    insert into t_register_response (id, response_code, response_message, 
      device_id, load_config_URL, load_dic_version_URL, 
      center_info_URL, center_data_URL, center_info_download_URL, 
      center_data_download_URL, upload_time, oper_time, 
      oper_user_name, oper_type, center_metering_data_URL
      )
    values (#{id,jdbcType=VARCHAR}, #{responseCode,jdbcType=VARCHAR}, #{responseMessage,jdbcType=VARCHAR}, 
      #{deviceId,jdbcType=VARCHAR}, #{loadConfigUrl,jdbcType=VARCHAR}, #{loadDicVersionUrl,jdbcType=VARCHAR}, 
      #{centerInfoUrl,jdbcType=VARCHAR}, #{centerDataUrl,jdbcType=VARCHAR}, #{centerInfoDownloadUrl,jdbcType=VARCHAR}, 
      #{centerDataDownloadUrl,jdbcType=VARCHAR}, #{uploadTime,jdbcType=VARCHAR}, now(),
      #{operUserName,jdbcType=VARCHAR}, #{operType,jdbcType=VARCHAR}, #{centerMeteringDataUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.one.energy.entity.TRegisterResponse" >
    insert into t_register_response
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="responseCode != null" >
        response_code,
      </if>
      <if test="responseMessage != null" >
        response_message,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="loadConfigUrl != null" >
        load_config_URL,
      </if>
      <if test="loadDicVersionUrl != null" >
        load_dic_version_URL,
      </if>
      <if test="centerInfoUrl != null" >
        center_info_URL,
      </if>
      <if test="centerDataUrl != null" >
        center_data_URL,
      </if>
      <if test="centerInfoDownloadUrl != null" >
        center_info_download_URL,
      </if>
      <if test="centerDataDownloadUrl != null" >
        center_data_download_URL,
      </if>
      <if test="uploadTime != null" >
        upload_time,
      </if>
      <if test="operTime != null" >
        oper_time,
      </if>
      <if test="operUserName != null" >
        oper_user_name,
      </if>
      <if test="operType != null" >
        oper_type,
      </if>
      <if test="centerMeteringDataUrl != null" >
        center_metering_data_URL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="responseCode != null" >
        #{responseCode,jdbcType=VARCHAR},
      </if>
      <if test="responseMessage != null" >
        #{responseMessage,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="loadConfigUrl != null" >
        #{loadConfigUrl,jdbcType=VARCHAR},
      </if>
      <if test="loadDicVersionUrl != null" >
        #{loadDicVersionUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerInfoUrl != null" >
        #{centerInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerDataUrl != null" >
        #{centerDataUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerInfoDownloadUrl != null" >
        #{centerInfoDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerDataDownloadUrl != null" >
        #{centerDataDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        now(),
      </if>
      <if test="operUserName != null" >
        #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        #{operType,jdbcType=VARCHAR},
      </if>
      <if test="centerMeteringDataUrl != null" >
        #{centerMeteringDataUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.one.energy.entity.TRegisterResponse" >
    update t_register_response
    <set >
      <if test="responseCode != null" >
        response_code = #{responseCode,jdbcType=VARCHAR},
      </if>
      <if test="responseMessage != null" >
        response_message = #{responseMessage,jdbcType=VARCHAR},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="loadConfigUrl != null" >
        load_config_URL = #{loadConfigUrl,jdbcType=VARCHAR},
      </if>
      <if test="loadDicVersionUrl != null" >
        load_dic_version_URL = #{loadDicVersionUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerInfoUrl != null" >
        center_info_URL = #{centerInfoUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerDataUrl != null" >
        center_data_URL = #{centerDataUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerInfoDownloadUrl != null" >
        center_info_download_URL = #{centerInfoDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="centerDataDownloadUrl != null" >
        center_data_download_URL = #{centerDataDownloadUrl,jdbcType=VARCHAR},
      </if>
      <if test="uploadTime != null" >
        upload_time = #{uploadTime,jdbcType=VARCHAR},
      </if>
      <if test="operTime != null" >
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operUserName != null" >
        oper_user_name = #{operUserName,jdbcType=VARCHAR},
      </if>
      <if test="operType != null" >
        oper_type = #{operType,jdbcType=VARCHAR},
      </if>
      <if test="centerMeteringDataUrl != null" >
        center_metering_data_URL = #{centerMeteringDataUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.one.energy.entity.TRegisterResponse" >
    update t_register_response
    set response_code = #{responseCode,jdbcType=VARCHAR},
      response_message = #{responseMessage,jdbcType=VARCHAR},
      device_id = #{deviceId,jdbcType=VARCHAR},
      load_config_URL = #{loadConfigUrl,jdbcType=VARCHAR},
      load_dic_version_URL = #{loadDicVersionUrl,jdbcType=VARCHAR},
      center_info_URL = #{centerInfoUrl,jdbcType=VARCHAR},
      center_data_URL = #{centerDataUrl,jdbcType=VARCHAR},
      center_info_download_URL = #{centerInfoDownloadUrl,jdbcType=VARCHAR},
      center_data_download_URL = #{centerDataDownloadUrl,jdbcType=VARCHAR},
      upload_time = #{uploadTime,jdbcType=VARCHAR},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      oper_user_name = #{operUserName,jdbcType=VARCHAR},
      oper_type = #{operType,jdbcType=VARCHAR},
      center_metering_data_URL = #{centerMeteringDataUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="select" resultType="org.one.energy.entity.TRegisterResponse">
    select *  FROM t_register_response t
    WHERE t.oper_time = (SELECT MAX(oper_time) FROM t_register_response)
  </select>

  <select id="selectDeviceId" resultType="org.one.energy.entity.TRegisterResponse">
    select *  FROM t_register_response t
    WHERE t.oper_time = (SELECT MAX(oper_time) FROM t_register_response)
  </select>

  <select id="findByPage" resultType="org.one.energy.entity.TRegisterResponse">
     SELECT *
     FROM t_register_response
     ORDER BY oper_time ASC
    limit ${(page-1)*limit},#{limit}
  </select>

  <select id="findCount" resultType="int">
    select count(1) from t_register_response
  </select>
</mapper>